[mysqld]
# 외부 접속 허용
bind-address = 0.0.0.0

# 기본 포트
port = 3306

# 문자셋
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 로그 설정
log-error = /usr/local/var/mysql/error.log

# 보안 설정
skip-name-resolve
